body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #5cb85c; /* Verde que remete ao campo */
    color: white;
    padding: 1em 0;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav li {
    margin: 0 1em;
}

nav a {
    color: white;
    text-decoration: none;
}

main {
    padding: 20px;
}

section {
    background-color: white;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #5cb85c;
    border-bottom: 2px solid #5cb85c;
    padding-bottom: 0.5em;
    margin-bottom: 1em;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em 0;
    position: sticky;
    bottom: 0;
    width: 100%;
}

/* Estilos adicionais para melhorar a aparência (opcional) */
a:hover {
    color: #333;
}

nav a:hover {
    color: #f4f4f4;
}